    <!-- Begin page content -->
    <main role="main" class="container">  
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="'/'">SameWebSite</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a  [routerLink]="'/'">Form Lists</a></li>                
              </ul>
            </div>
          </nav>      
     <router-outlet></router-outlet>
      
    </main>

   

