<p>
  build-form works!
</p>

<h2>Drag / drop the item</h2>
<h3>list 1</h3>
<div [sortablejs]="items1" [sortablejsOptions]="optionsFrom">
  <div *ngFor="let element of elements">{{ element.name }}</div>
</div>
<h3>list 2 test</h3>
<div [sortablejs]="items2" [sortablejsOptions]="optionsTo" style="width:100px;height:400px;padding:15px;border:1px solid #000;">
    <app-render-form *ngFor="let item of items2" [elementItem]="item"></app-render-form> 
 
</div>

<hr>

<h2>Drag / drop the item</h2>
<h3>list 1</h3>
<div class="items1" [sortablejs]="items3" [sortablejsOptions]="optionsFrom">
  <div *ngFor="let item of items3">{{ item.name }}</div>
</div>
<h3>list 2</h3>
<div class="items" [sortablejs]="items4" [sortablejsOptions]="optionsTo" style="width:100px;height:400px;padding:15px;border:1px solid #000;">
  <!--div *ngFor="let item of items4">{{ item }}</div-->
  <app-render-form class="item" *ngFor="let item of items4" [elementItem]="item"></app-render-form> 
</div>

<hr>

<h2>See the result</h2>
<div>
  <h3>list 1</h3>
  <div *ngFor="let item of items3">{{ item.name }}</div>
  <h3>list 2</h3>
  <div *ngFor="let item of items4">{{ item.name }}</div>
</div>

