.build-form-block{
    padding:50px 30px;
}
.button-success,
.button-return,
.button-delete,
.button-edit,
.button-addsubelement {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background: rgb(28, 184, 65);   
}
.button-return {
    background: rgb(223, 117, 20);    
}
.button-delete {
    background: rgb(202, 60, 60);
}
.button-edit {
    background: rgb(66, 184, 221); 
}
.button-addsubelement {
    background: #E6E6E6;
    color: #333;
}

.add-form-elements{
    padding-right: 30px;
}
.add-form-elements .fom-elements-block button{
    display: block;
    margin-bottom: 5px; 
    width: 100%;
}
.builder-from-block label{
    margin-bottom:5px;
    display: block;
}
.pure-form .pure-group .checkbox-block, 
.pure-form .pure-group .radio-block{
    margin-bottom:10px;
}
.pure-form .pure-group .checkbox-block input, 
.pure-form .pure-group .radio-block input{
    display:inline;
}
small{
    display:block;
    padding: 10px 0px;
}