<div class="row">
    <div class="col-md-4"><h1>Form Lists</h1></div>
    <div class="col-md-4 col-md-offset-4"><button type="button" class="btn btn-primary pull-right">Build new form</button></div>
  </div>



<ul class="list-group fotms-lists">
    <li class="list-group-item ">
      <div class="form-name">Form 1</div>
      <div class="">
        <button type="button" class="btn btn-light">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </li>
    <li class="list-group-item">Form 2</li>
    <li class="list-group-item">Form 3</li>
    <li class="list-group-item">Form 4</li>
    <li class="list-group-item">Form 5</li>
  </ul>