<div class="main-form-builder">   
  
  <div class="pure-g">  
    <div class="pure-u-1 pure-u-md-1-1">
      <a class="pure-button pure-button-primary" [routerLink]="'/newform'">Build new form</a>  
    </div>      
    <div class="forms-list pure-u-1">
      <h1>Forms List</h1>
      <div class="pure-u-md-1-1 one-form" *ngFor="let form of forms; let i=index">
        <div class="pure-u-1-2 pure-u-md-1-2">
            <h3><a [routerLink]="['/newform', form.id]">{{form.form_name}}</a></h3>
            <small><i><p>{{form.form_description}}</p></i></small>
        </div>
        <div class="pure-u-11-24 pure-u-md-11-24 form-buttons">
            <button [routerLink]="['/preview', form.id]" class="pure-button button-preview">Preview</button>          
            <button (click)="deleteForm(form)" class="pure-button button-delete">Delete</button>
        </div>   
     </div>
    </div>
  </div>  
</div>